
body {
  background-color: #6F9CCC;
}

.available-items .item {
  display: inline-block;
  background-color: #C0E0DE;
  color: #162521;
  border: 2px solid #162521;
  box-shadow: 0.5em 0.5em 0.25em #162521;
  width: 10em;
  min-height: 4em;
  text-align: center;
  vertical-align: middle;
  margin: 2em;
}

.available-items .item .name {
  margin: 1em 0.5em 1em 0.5em;
}

.available-items .item:hover {
  background-color: #E0FFFE;
  border-color: #3C474B;
  box-shadow: 0.5em 0.5em 0.25em #3C474B;
}

.available-items .item:active {
  background-color: #162521;
  color: #C0E0DE;
  box-shadow: none;
}

.order {
  width: 100em;
  margin: 1em 1em 1em 1em;
}

.order-content {
  height: 100%;
  border: 2px solid black;
  background-color: #E0FFFE;
  margin: 0.25em 0em 0.5em 0em;
}

.order-content table {
  width: 100%;
  border-collapse: collapse;
}

.order-content .line-items {
  min-height: 20em;
}

.order-content .line-items tr:nth-child(even).selected {
  color:  #C0E0DE;
  background-color: #162521;
}

.order-content .line-items tr:nth-child(odd).selected {
  color: #E0FFFE;
  background-color: #162521;
}

.order-content table tr:nth-child(even) {
  background-color: #C0E0DE;
}

.order-content table tr:nth-child(odd) {
  background-color: #E0FFFE;
}

.order-content .qty {
  font-family: monospace;
  width: 2em;
  font-size: large;
  padding-left: 0.25em;
}

.order-content .price {
  width: 5em;
  text-align: right;
  font-family: monospace;
  font-size: large;
  padding-right: 0.25em;
}

.order-content .summary th {
  width: 5em;
  text-align: left;
  padding-left: 0.25em;
}

[layout=row] {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

[layout=column] {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

[flex=grow] {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}