<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Incredibly Fake Point-of-Sale</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="app.js"></script>

    <link
      href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"
      rel="stylesheet"
    />
    <link
      href="app.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="orderEntryScreen">
      <div layout="row">
        <div
          class="available-items"
          flex="grow">
          <div
            v-for="item in availableItems"
            class="item"
            @click="onItemSelected(item)">
            <div class="name">{{item.name}}</div>
          </div>
        </div>

        <div
          class="order"
          flex="none"
          layout="column">
          <div
            class="order-id"
            flex="none">
            Order ID Goes Here
          </div>

          <div
            class="order-content"
            layout="column">
            <div flex="grow">
              <table class="line-items">
                <tr>
                  <td class="qty">3</td>

                  <td class="name">Really Tasty Pizzas</td>

                  <td class="price">42.00</td>
                </tr>
              </table>
            </div>

            <div flex="none">
              <table
                class="summary"
                flex="none">
                <tr>
                  <th colspan="2">Subtotal:</th>
                  <td class="price">???</td>
                </tr>

                <tr>
                  <th colspan="2">Sales Tax:</th>
                  <td class="price">???</td>
                </tr>

                <tr>
                  <th colspan="2">Grand Total:</th>
                  <td class="price">???</td>
                </tr>
              </table>
            </div>
          </div>

          <div
            class="order-actions"
            layout="row">
            <button
              class="void-button"
              flex="none">
              Void
            </button>

            <div flex="grow"></div>

            <button
              class="pay-now-button"
              flex="none">
              Pay Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>